[Unit]
Description=hciattach service for SPRD BT/FM requested
StopWhenUnneeded=yes

[Service]
Type=oneshot
SmackProcessLabel=System
ExecStart=/usr/etc/bluetooth/bt-dev-start.sh
ExecStop=/usr/etc/bluetooth/bt-dev-end.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=inherit
